# ── Resend ───────────────────────────────────────────────────
RESEND_API_KEY=COLLER_LA_NOUVELLE_CLE_RESEND_ICI
RESEND_FROM_EMAIL=leads@pretschfinfo.fr
RESEND_TO_EMAIL=louis.mermet@lexdevise.fr

# ── SITE ────────────────────────────────────────────────────
NEXT_PUBLIC_SITE_URL=https://pretschfinfo.fr
